@model IEnumerable<zeroHunger.Models.RequestProcessing>

@{
    ViewBag.Title = "ReqDet";
}

<h2>ReqDet</h2>
<a href="/Logged/Logout">Logout</a>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            <a href="/Employee/RecievedFood/@item.Id">Food Recived</a> ||
            <a href="/Employee/DeliveredFood/@item.Id">Food Deliverd</a>
        </td>
    </tr>
}

</table>
