@model IEnumerable<zeroHunger.Models.RequestDashboard>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
@if (TempData["msg"] != null)
{
    <p>@TempData["msg"]</p>
}
<a href="/Admin/GetProcess">Previous Request</a>
<a href="/Logged/Logout">Logout</a>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expirydate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expirydate)
            </td>
            <td>
                @if (item.Expirydate < DateTime.Now)
                {
                    <p>Expired</p>
                }
                else
                {
                    if (item.Qty <= 0)
                    {
                        <p>Finished</p>
                    }
    else { 
                    <a href="Request/@item.Id">Request This</a>}
                }

            </td>
        </tr>
    }

</table>
<a href="/Admin/Requests">Requests @if (Session["count"] != null) { <p>@Session["count"]</p>}</a>
    

