@model IEnumerable<zeroHunger.Models.Employee>

@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetEmployee</h2>
<a href="/Logged/Logout">Logout</a>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if (item.Status.Equals("Busy"))
            {
                <p>Employee Busy</p>
            }
            else
            {
                <a href="/Admin/AssignEmployee/@item.Id">Assign Employee</a>
            }




        </td>
    </tr>
}

</table>
